:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul {
  padding: 0;
  list-style: none; /* To remove the default bullet points */
}

.progress{
  margin-left: 5% !important;
}

.answerCard {
  min-width: 65vw !important;
  max-width: 100vw !important;
  height: 45vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightAnswer {
  color: green;
}
.wrongAnswer {
  color: red;
}

.timer {
  font-size: 1.5rem;
  font-weight: bold;
}
#resultCard {
  width: 94vw;
  height: 60vh;
}

.sidebar {
  width: 100%;
}

.exit {
  display: none !important;
}
.exitButtonContainer {
  display: none !important;
}

#root {
  display: flex;
  height: 100vh;
}

#main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ui.left.sidebar,
.ui.right.sidebar {
  width: 25% !important;
}

li {
  list-style-type: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  place-items: center;
  min-width: 320px;
  /* min-height: 100vh; */
  justify-content: center;
  align-content: space-evenly;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#landing {
  height: 90vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#landing button {
  width: 55%;
}

.progressBar {
  width: 50vw;
}
.questionButtons {
  display: flex;
  justify-content: space-around;
  width: 85vw;
}

Button {
  min-width: 20%;
}

.ui.red.button {
  box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  width: 14%;
}

.ui.grey.button {
  box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  width: 14%;
}

Button i {
  text-align: center !important;
  width: 50% !important; /* Set a specific width for the element */
  margin-left: auto !important;
  margin-right: auto !important;
  vertical-align: auto;
}

.questionButton {
  min-width: 45vw !important;
}

i {
  text-align: center !important;
}

#main h3 {
  text-align: center;
  font-size: 1.65rem;
  margin-left: 5%;
  margin-right: 5%;
}

.flaggedQuestionParent h5 {
  font-size: 1.4rem;
  color: #f9f9f9;
}

.flaggedQuestionParent {
  display: flex;
  flex-direction: column;

  height: 90vh;
  justify-content: space-evenly;
}

.flaggedQuestion {
  width: 24vw;
}

.menuItems {
  background-color: white;
  font-size: 100vh;
}
.menu {
  margin-top: 10vh !important;
  font-size: 1.4rem !important;
  height: 35vh;
  width: 25vw !important;
  align-items: center !important;
}
.menu h5 {
  font-size: 1.4rem;
  color: #f9f9f9;
}

.outlineAndExit Button {
  font-size: 0.95rem !important;
  display: flex;
  text-align: center;
  justify-content: center;
  /* width: 8%; */
}
.outlineAndExit {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
.submitSection Button {
  width: 75%;
}
/* Define a fixed height for the container */
.scroll-container {
  height: 55vh; /* Adjust the height as needed */
  width: 75vw;
  overflow-y: auto; /* Add a vertical scrollbar if necessary */
  border: 2px solid #313231; /* Add a border for styling */
  padding: 10px; /* Add some padding for spacing */
}
.flagAndQuestionNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
}
.flagButtonContainer {
  margin-left: 2vw; /* Adjust this value to your preference */
  height: 6vh;
}
.flagAndQuestionNumber Button {
  text-align: center;
}

.flaggedQuestion button {
  width: 25vw !important;
}

.ui.progress .bar>.progress {
  white-space: nowrap;
  position: absolute;
  width: auto;
  font-size: .92857143em;
  top: 50%;
  right: .5em;
  left: 5%;
  bottom: auto;
  color: rgb(0 0 0 / 70%);
  text-shadow: none;
  margin-top: -.5em;
  font-weight: 700;
  text-align: left;
}

#flag {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-left: 5px;
  height: 10px;
}
.questionButton {
  width: 35vw;
}
.examQuestions {
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ui.orange.button {
  width: 3.5vw;
  height: 4.5vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-height: 680px), screen and (orientation: portrait) {
  /* … */
  body {
    width: 100vw;
    height: 100vh;
  }
  button {
    width: 85vw;
  }
  .flagAndQuestionNumber h2 {
    font-size: 21.1px;
  }

  .flagAndQuestionNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44vw;
  }
  Sidebar {
    min-width: 75vw !important;
  }
  .progressBar {
    width: 85vw;
  }
  .questionButton {
    min-width: 75vw !important;
  }
  .examQuestions {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .questionButtons {
    width: 55vw;
  }

  .questionButtons button {
    width: 25vw;
  }

  .flaggedQuestionParent {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: space-evenly;
  }
  .outlineAndExit Button {
    font-size: 0.95rem !important;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 85%;
  }

  .ui.left.sidebar,
  .ui.right.sidebar {
    width: 100vw !important;
    height: 100vh !important;
  }

  .exit {
    display: flex !important;
    width: 5% !important;
    margin-right: 2% !important;
  }

  .exitButtonContainer {
    margin-top: 4%;

    display: flex !important;
    justify-content: end;
    width: 100vw !important;
  }

  Button {
    min-width: 25%;
  }
  .answerCard {
    min-width: 90vw !important;
    height: 45vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #main {
    height: 85vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #main h3{
    font-size: 1.2rem;
  }
}
